<h1>Listing workouts</h1>


<table class="table table-striped">
  <thead>
  	<tr>
		<td>Group</td>
		<td>Name</td>
    </tr>
  </thead>
<% @workouts.each do |workout| %>
  <tr>
	<td><%= link_to workout.group.name, workout %></td>
	<td><%= workout.name %></td>
    <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
    <td><%= link_to 'Destroy', workout, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />





