<p id="notice"><%= notice %></p>

<p>
	<div class ="page header"> 
		<h1><%= @user.name %></h1>
	</div>
</p>

<%= link_to 'Edit', edit_user_path(@user), :class => "btn"  %> |
<%= link_to 'Browse Users', users_path, :class => "btn"  %>
