// Place all the styles related to the user_workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_workout_accordion {
  a.accordion-toggle:hover {
    background-color: transparent;
  }
}

#accordion_weights {
  color: #000;
  &:hover {
    color: #000; } }