<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exercise.name %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise), :class => "btn"  %> |
<%= link_to 'Back', exercises_path, :class => "btn"  %>
