
<div class="hero-unit">
	<h1>LiftApp</h1>
	<br/>
	<p class= "lead"> 
		LiftApp is a workout tracking app for 5x5 weight lifting workouts. Everything you need to know about LiftApp is right here, so let's get started. 
	</p>
	<div class="button-group">
		<button class="btn">
			<a href="#howto">How to use LiftApp</a>
		</button>
		<button class="btn">
			<a href="#features">Features</a>
		</button>
		<button class="btn">
			<a href="#soon">Coming Soon</a>
		</button>
		<button class="btn">
			<a href="#auth">Author</a>
		</button>
	</div>
</div>



<section id="howto">
<div class="page-header">
    <h1>How to use LiftApp <small> What the site does and how you can use it</small></h1>
</div>
</section>
<br/>
<section id="features">
<div class="page-header">
    <h1>Features <small> LiftApp doe some cool stuff that you should know about</small></h1>
</div>
</section>
<br/>
<section id="soon">
<div class="page-header">
    <h1>Coming Soon <small> We're gonna make LiftApp better. Here's how:</small></h1>
</div>
</section>
<br/>
<section id="auth">
<div class="page-header">
    <h1>Author <small> LiftApp was made by Gabe</small></h1>
</div>
</section>
<br/>